body {
  background-color: grey;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  color: darkslategrey;
  text-decoration: wavy;
  font-weight: bolder;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p q {
  font-style: italic;
  font-weight: bold;
  color: yellow;
}

p::first-letter {
  font-size: 150%;
}

dt {
  font-style: italic;
  color: yellowgreen;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-desc {
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.red {
  color: red;
}
